@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
  font-family: "Noto Sans KR", "맑은 고딕", arial, sans-serif;
	font-size: inherit;   /* --------------------- 수정 */
	color: #1c1c1c;
	/* line-height: 160%; */   /* --------------------- 수정 */
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	color: #1c1c1c;
}
ul, ol, li{list-style: none;}